In [1]:
# 라이브러리
import pandas as pd
from sqlalchemy import create_engine # DB연결을 위한 라이브러리

# DB 정보 입력

# 마스터 사용자 이름
user= 'postgres'
# 마스터 암호
password= 'mypassword1'
# 엔드 포인트
host= 'python-apart-db.chye2xy6xz7a.ap-northeast-2.rds.amazonaws.com'
# PostgreSql port
port= '5432'
# DB 이름
database = 'python_apart_db'


# 입력된 DB정보
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}', echo = False)

# DB 연결
conn = engine.connect()

# DB 테스트를 위한 데이터 프레임 생성
df = pd.DataFrame({"a" :[1,2,3,],
             "b" : ['a','b','c']})

# 판다스의 to_sql 함수를 사용.
# df.to_sql ("table_test", con = conn, if_exists = "replace", index = False)
df.to_sql ("table_test", con = conn, if_exists = "replace", index = False)

In [2]:
# DB에 잘 적재 되었는지 확인
sql = 'SELECT * FROM table_test'
pd.read_sql(sql, conn)

   a  b
0  1  a
1  2  b
2  3  c